.typing-practice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  align-items: center;
    
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .next-keys-container {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .next-keys {
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .letterCard {
    border-radius: 10px;
    background-color: #ffffff;
    width:200px;
    margin-bottom: 5px;
    padding: 20px;
  }